* {
  font-family: Arial;
}
body {
  margin: 0;

  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  overflow: scroll;
}

.title {
  margin-left: 30%;
  width: 40%;
  height: 50px;

  border: 3px solid;
  color: #fff;
  font-size: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 50%;
  height: 30px;
  margin-left: 25.5%;

  border: none;
  border-radius: 5px;

  font-size: 20px;
}

.list {
  list-style: none;
  margin: 30px 60px 0 60px;
  padding: 0 10px 0 0;
  height: 70vh;

  overflow-y: scroll;
  overflow-x: hidden;
}
.list-item {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;

  font-size: 20px;
  color: #7f7f7f;
}

.list-item:hover {
  transition: all 0.2s linear;
  color: #fff;

  background-color: transparent;
  border: 2px solid #fff;

  cursor: pointer;
}

.flower {
  display: none;
}
@media screen and (min-width: 863px) {
  body {
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  }

  .content {
    height: 100vh;
    display: flex;
    justify-content: space-between;
  }
  .container {
    width: 50%;
  }
  .title {
    width: 40%;
    margin-left: 30%;
  }

  .flower {
    display: inline-block;
    width: 50%;
  }
}
